.comm{
    background-color: #ccc;
    // background-image: url(../../public/sky.jpg) !important;
    padding: .4rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    .row {
        width: 65rem;
    }
    .box {
        border: 1px solid #475a5a;
        border-radius: .5rem;
    }
}