.comm{
    // background-color: #ccc;
    // background-image: url(../../public/sky.jpg) !important;
    // background-color: transparent;
    padding: .4rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    .row {
        width: 65rem;
    }
    .box_l {
        border: 1px solid #475a5a;
        border-radius: .5rem;
    }
    .box_r {
        // border: 1px solid #475a5a;
        // border-radius: .5rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        &>div {
            border: 1px solid #475a5a;
            border-radius: .5rem;
            width: 96%;
            height: 100%;
        }
    }
}